<h1>New baby edit.erb</h1>


<!-- <form action="<%= "/people/#{@person.id}" %>" method="post"> -->
	<!-- <input type="hidden" name="_method" value="put" /> -->
	<!-- <%= erb :"/people/_form" %> -->
<!-- </form> -->
<!-- <%= erb :"/people/_form" %> -->

<h1>End of new baby</h1>