<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Numerology App</title>
	<link rel="stylesheet" href="/css/people.css">
</head>
	<body>
		<div id="menu-header">
			<strong>Menu:</strong> <a href ='/people'> List Users </a>| <a href='/people/new'>Create New User</a>
		</div>
		<%= yield %>
	</body>
</html>